@model PagedUsersDataViewModel

<h1>Users list</h1>

@await Html.PartialAsync("_ConfirmDialogs")

<hr />

<table class="table table-striped table-bordered">
    <thead>
    <th>
        <a asp-action="All" asp-controller="Users" asp-area="Manage" 
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize" 
           asp-route-orderBy="UserName" >UserName</a>
    </th>
    <th>
        <a asp-action="All" asp-controller="Users" asp-area="Manage" 
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize" 
           asp-route-orderBy="Email" >Email</a>
    </th>
    <th>        
        <a asp-action="All" asp-controller="Users" asp-area="Manage" 
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize" 
           asp-route-orderBy="FirstName" >FirstName</a>
    </th>
    <th>
        <a asp-action="All" asp-controller="Users" asp-area="Manage" 
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize" 
           asp-route-orderBy="LastName" >LastName</a>
    </th>
    <th>IsConfirmed</th>
    <th>Roles</th>
    <th>Avatar</th>
    <th>Operations</th>
    </thead>
    <tbody class="table-striped">
    @if (Model.Items.Any())
    {
        @foreach (var user in Model.Items)
        {
            <partial name="_UserViewPartial" model="@user"/>
        }
    }
    else
    {
        <tr>
            <td colspan="8" class="text-center">
                <h2>There are not users by provided parameters.</h2>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.Items.Any())
{
    <partial name="_UsersPagingViewPartial" model="@Model"/>
}

@section Scripts {
    <script src="~/js/confirm.js" asp-append-version="true"></script>
}