@model PagedUsersDataViewModel

<h1>Users list</h1>

@await Html.PartialAsync("_ConfirmDialogs")

<hr />

<table class="table table-striped table-bordered">
    <thead>
    <th>
        <i class="@ViewData["SoftIconUserName"]"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage"
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize"
           asp-route-orderBy="@ViewData["SoftParamUserName"]">UserName</a>
    </th>
    <th>
        <i class="@ViewData["SoftIconEmail"]"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage"
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize"
           asp-route-orderBy="@ViewData["SoftParamEmail"]">Email</a>
    </th>
    <th>    
        <i class="@ViewData["SoftIconFirstName"]"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage" 
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize" 
           asp-route-orderBy="@ViewData["SoftParamFirstName"]">FirstName</a>
    </th>
    <th>
        <i class="@ViewData["SoftIconLastName"]"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage"
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize"
           asp-route-orderBy="@ViewData["SoftParamLastName"]">LastName</a>
    </th>
    <th>
        <i class="@ViewData["SoftIconIsConfirmed"]"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage"
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize"
           asp-route-orderBy="@ViewData["SoftParamIsConfirmed"]">IsConfirmed</a>
    </th>
    <th>Roles</th>
    <th>Avatar</th>
    <th>Operations</th>
    </thead>
    <tbody class="table-striped">
    @if (Model.Items.Any())
    {
        @foreach (var user in Model.Items)
        {
            <partial name="_UserViewPartial" model="@user"/>
        }
    }
    else
    {
        <tr>
            <td colspan="8" class="text-center">
                <h2>There are not users by provided parameters.</h2>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.Items.Any())
{
    <partial name="_UsersPagingViewPartial" model="@Model"/>
}

@section Scripts {
    <script src="~/js/confirm.js" asp-append-version="true"></script>
}