@model PagedUsersDataViewModel

@{
    var collection = (SortCollection)ViewData["SortedCollection"]!;
}

<h1>Users list</h1>

@await Html.PartialAsync("_ConfirmDialogs")

<hr />

<div class="activities-toolbox">
    <div class="activities-toolbox-left">
        <a asp-area="Manage" asp-controller="Users" asp-action="Create" class="btn btn-primary">Create new user</a>
    </div>
    <div class="activities-toolbox-right">
        <form asp-action="All" method="get">
            <input type="text" class="search-input form-control" placeholder="Search text." name="searchBy" />
            <input type="submit" class="search-button btn btn-info" value="Search" />
        </form>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead>
    <th>
        <i class="@collection.Get("UserName")?.Icon"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage"
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize"
           asp-route-orderBy="@collection.Get("UserName")?.Sort">UserName</a>
    </th>
    <th>
        <i class="@collection.Get("Email")?.Icon"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage"
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize"
           asp-route-orderBy="@collection.Get("Email")?.Sort">Email</a>
    </th>
    <th>    
        <i class="@collection.Get("FirstName")?.Icon"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage" 
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize" 
           asp-route-orderBy="@collection.Get("FirstName")?.Sort">FirstName</a>
    </th>
    <th>
        <i class="@collection.Get("LastName")?.Icon"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage"
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize"
           asp-route-orderBy="@collection.Get("LastName")?.Sort">LastName</a>
    </th>
    <th>
        <i class="@collection.Get("IsConfirmed")?.Icon"></i>
        <a asp-action="All" asp-controller="Users" asp-area="Manage"
           asp-route-pageNumber="@Model.CurrentPage" asp-route-pageSize="@Model.PageSize"
           asp-route-orderBy="@collection.Get("IsConfirmed")?.Sort">IsConfirmed</a>
    </th>
    <th>Roles</th>
    <th>Avatar</th>
    <th>Operations</th>
    </thead>
    <tbody class="table-striped">
    @if (Model.Items.Any())
    {
        @foreach (var user in Model.Items)
        {
            <partial name="_UserViewPartial" model="@user"/>
        }
    }
    else
    {
        <tr>
            <td colspan="8" class="text-center">
                <h2>There are not users by provided parameters.</h2>
            </td>
        </tr>
    }
    </tbody>
    @if (Model.Items.Any())
    {
        <tfoot>
            <tr>
                <td colspan="8" class="text-left">
                    <partial name="_UsersPagingViewPartial" model="@Model"/>
                </td>
            </tr>
        </tfoot>
    }
</table>



@section Scripts {
    <script src="~/js/confirm.js" asp-append-version="true"></script>
}