@model UserAssignedRoles

<form method="post">
    
    <input type="hidden" value="@Model.UserId" name="UserId"/>
    <input type="hidden" value="@Model.UserName" name="UserName"/>

    <h2>User is member of these roles:</h2>
    @foreach (var role in Model.MemberOfRoles)
    {
        <div>
            <input type="checkbox" name="Roles" value="@role" checked />
            <label>@role</label>
        </div>
    }
    
    <h2>User is not member of these roles:</h2>
    @foreach (var role in Model.NotMemberOfRoles)
    {
        <div>
            <input type="checkbox" name="Roles" value="@role" />
            <label>@role</label>
        </div>
    }

    <button type="submit" class="btn btn-primary">Save</button>
</form>
