@model ActivityViewModel

<section>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="UserId"/>
    
    <div>
        <img src="@Model.Avatar" alt="avatar" width="32px" height="32px"/>
        <span>@Model.UserName</span>
    </div>
    
    <div class="activity-image-container">
        @foreach (var imageUrl in @Model.Images)
        {
            <img src="@imageUrl" alt="activity-image"/>
        }
    </div>
    
    <div class="card">
        <h2 class="card-header">@Model.Title</h2>
        <div class="card-body">
            <p class="card-text">on @Model.StartDateTime with @Model.Bike</p>
        </div>
    </div>
    
    <div class="card">
        <h3 class="card-header">Description</h3>
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
        </div>
    </div>

    @if (Model.CurrentUserId == Model.UserId)
    {
        <div class="card">
            <h2 class="card-header">Private notes</h2>
            <div class="card-body">
                <p class="card-text">@Model.PrivateNotes</p>
            </div>
        </div>
        <h3></h3>
    }
    
    <table class="activity-data-table">
        <thead>
            <th>Distance</th>
            <th>Duration</th>
            <th>PositiveElevation</th>
            <th>NegativeElevation</th>
        </thead>
        <tbody>
            <tr>
                <td><h5>@Model.Distance</h5></td>
                <td><h5>@Model.Duration</h5></td>
                <td><h5>@Model.PositiveElevation</h5></td>
                <td><h5>@Model.NegativeElevation</h5></td>
            </tr>
        </tbody>
    </table>

    <div id="map"></div>

    <hr />
    <partial name="_ActivityLikesPartial" model="@Model" />

    <hr />
    <partial name="_ActivityCommentsPartial" model="@Model" />
    
    <form method="post"></form>

</section>