@model ActivityViewModel

<section>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="UserId"/>
    
    <div>
        <img src="@Model.Avatar" alt="avatar" width="26px" height="26px"/>
        <span>@Model.UserName</span>
    </div>
    
    <div>
        @foreach (var imageUrl in @Model.Images)
        {
            <img src="@imageUrl" width="400" height="300" alt="activity-image"/>
        }
    </div>
    
    <div>
        <h2>@Model.Title</h2>
        <h5>@Model.StartDateTime</h5>
        <h4>@Model.Bike</h4>
    </div>

    <h3>@Model.Description</h3>

    <h3>@Model.PrivateNotes</h3>
    
    <table>
        <thead>
            <th>Distance</th>
            <th>Duration</th>
            <th>PositiveElevation</th>
            <th>NegativeElevation</th>
        </thead>
        <tbody>
            <tr>
                <td><h5>@Model.Distance</h5></td>
                <td><h5>@Model.Duration</h5></td>
                <td><h5>@Model.PositiveElevation</h5></td>
                <td><h5>@Model.NegativeElevation</h5></td>
            </tr>
        </tbody>
    </table>

    <div id="map"></div>

    <partial name="_ActivityLikesPartial" model="@Model" />

    <div class="comments-list">
        <a class="btn btn-warning" id="create-comment" asp-action="Create" asp-controller="Comments" asp-route-id="@Model?.Id" >Create comment</a>
        @foreach(var comment in @Model.Comments) {
            <article>
                <p>Comment by @comment.UserName</p>
                <p>Comment at @comment.CreatedOn</p>
                <p>Comment @comment.Content</p>
                @if(comment.IsMine) 
                {
                    <a class="btn btn-primary" id="update-comment" asp-action="Update" asp-controller="Comments" asp-route-id="@comment.Id" >Update</a>
                    <a class="btn btn-secondary" id="delete-comment" asp-action="Remove" asp-controller="Comments" asp-route-id="@comment.Id" >Delete</a>
                }
                <a class="btn btn-warning" id="quote-comment" asp-action="Quote" asp-controller="Comments" asp-route-id="@comment.Id" >Quote</a>
            </article>
        }
    </div>
    
    <form method="post"></form>

</section>